# Set DEBUG to True only during development
DEBUG=True|False

# SECRET_KEY can be generated using django.core.management.utils.get_random_secret_key()
SECRET_KEY=################################

#Note that to enable emailing from your account, you need to allow access to less secured
#apps in your google account settings
EMAIL_HOST_USER=yourmail@gmail.com
EMAIL_HOST_PASSWORD=yourpassword

#Generate this using cryptography.fernet.Fernet.generate_key()
EMAIL_ENCRYPTION_KEY=################################

HOSTNAME=https://localhost:8000