<div id="thankyou-screen" class="flex flex-col items-center justify-center h-fullscreen w-screen bg-gray-900 hidden">
    <img src="/static/img/robot.svg" class="h-60 object-cover my-5">
    <p class="text-2xl text-center text-white mx-4">Thank you for using MyTeams!</p>
    <p class="text-gray-300 text-center my-3 mx-4">Tip: You may close the tab to leave or reload to join again.</p>
    <div class="back-button rounded-full px-7 py-1 my-3 bg-blue-500 text-white text-lg cursor-pointer">Back</div>
</div>