<html lang="en">
{% load extra_tags %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}

    <!-- TAILWIND CSS FRAMEWORK CDN -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <!-- JQUERY JS LIBRARY CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/static/stylesheets/style-base.css">
    {% block style %}{% endblock %}
</head>

<body class="bg-gray-900">
    {% block content%}
    


    {%endblock%}

    <div id="overlay" class="flex w-screen h-screen sm:items-center justify-center fixed top-0 left-0 hidden">
        {% block overlay %}
        {% endblock %}
    </div>

    <!-- CSRF Token and Username for accessing through JavaScript -->
    <input type="text" id="csrf-token" readonly hidden value="{{csrf_token}}">
    <input type="text" readonly hidden id="username" value="{{user.username}}">
</body>

<script>
    //For getting coorect viewpoert height in mobile browsers
    let vh = window.innerHeight;
    document.documentElement.style.setProperty('--vh', `${vh}px`);

    window.addEventListener('resize', () => {
        let vh = window.innerHeight;
        document.documentElement.style.setProperty('--vh', `${vh}px`);
    });
</script>

{% block scripts %}
{%endblock%}

</html>