{% extends 'base.html' %}
{% load extra_tags %}
{% block head %}
    <title>{{other.account.name}} | MyTeams</title>
{%endblock%}
{%block style%}
    <link rel="stylesheet" href="/static/stylesheets/style-team.css">
{%endblock%}
{% block content %}
    <div class="w-full h-fullscreen flex flex-col">
        <!-- HEADER -->
        <div class="flex w-full bg-gray-800 h-16 justify-between items-center px-3 sm:px-6 flex-shrink-0">
            <!-- USER LOGO AND NAME -->
            <div class="flex items-center ml-3">
                <img src="/static/img/back.svg" class="back-button h-5 mr-4 cursor-pointer">
                {% if other.logo_url %}
                <img src="{{other.logo.url}}" class="rounded-full h-10 w-10 object-cover">
                {% else %}
                <div class="rounded-full flex items-center justify-center text-2xl h-10 w-10" style="background-color: bisque;">
                    {{other | user_logo}}
                </div>
                {% endif %}
                <p class="text-white text-lg ml-3 hidden sm:block">{{other.account.name}}</p>
            </div>

            <!-- VIDEO CHAT BUTTON -->
            <div class="flex">
                <a href="/chat/t/{{team.room}}/">
                    <img src="/static/img/video.svg" id="team-video-btn" title="Start/Join Video Call"  
                    class="rounded-full h-10 w-10 p-2 mx-1 sm:mx-3 object-contain cursor-pointer hover:bg-gray-700">
                </a>
            </div>
        </div>


        <div class="flex-grow flex w-full relative overflow-auto">

            <div class="main-wrp flex-grow bg-gray-900 h-full flex flex-col items-stretch duration-500">
                
                <!-- CHAT MESSAGES WRAPPER -->
                <div id="chats-wrapper" class="bg-gray-700 flex flex-col flex-grow px-3 py-4 overflow-y-scroll">
                    {% for msg in chats %}
                        {% if msg.type != 'T' %}
                        <!-- JOIN LEAVE MESSAGE -->
                        <div class="bg-gray-600 rounded px-3 py-1 text-white self-center mt-4">
                            <p class="text-center text-light" style="font-size: 10px;">{{ msg.time|date:'d/m/Y, f A'}}: {{msg.text}}</p>
                        </div>
                        {% elif msg.user == user %}
                        <!-- SELF MESSAGE -->
                        <div class="bg-gray-500 rounded px-3 pt-2 pb-1 text-white self-end text-sm mt-4" style="max-width: 60%;">
                            <p class="text-sm">{{msg.text}}</p>
                            <p class="text-gray-200 text-right mt-0.25" style="font-size: 10px;">{{ msg.time|date:'d/m/Y, f A'}}</p>
                        </div>
                        {% else %}
                        <!-- OTHER MESSAGE -->
                        <div class="flex mt-4" style="max-width: 60%;">
                            <div class="rounded-full flex items-center justify-center text-xl h-8 w-8" style="background-color: bisque;">
                                {{msg.user|user_logo}}
                            </div>
                            <div class="ml-2">
                                <p class="text-xs font-medium self-start text-white ml-1">{{msg.user.account.name}}</p>
                                <div class="bg-gray-800 rounded px-3 pt-2 pb-1 text-white self-start text-sm mt-1">
                                    <p class="text-sm">{{msg.text}}</p>
                                    <p class="text-gray-300 text-right mt-0.25" style="font-size: 10px;">{{ msg.time|date:'d/m/Y, f A'}}</p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
    
                <!-- FOOTER  -->
                <div class="flex w-full bg-gray-800 h-16 items-center justify-center px-5 sm:px-10 flex-shrink-0">
                    <div class="flex bg-gray-500 rounded-full items-center" style="width: 500px;">
                        <input type="text" id="chat-input" class="bg-transparent ml-5 my-2 flex-grow min-w-0" placeholder="Write something...">
                        <img id="chat-send-button" src="/static/img/send.svg" class="h-6 w-6 object-contain cursor-pointer mr-4">
                    </div>
                </div>   
    
            </div>
               
   
        </div>
        

    {% for member in team.members.all %}
        <input type="text" readonly hidden id="{{member.username}}-name" value="{{member.account.name}}">
        <input type="text" readonly hidden id="{{member.username}}-img" value="{{member.account.logo_url}}">
    {% endfor %}

    <input type="text" readonly hidden id="room-name" value="{{team.room}}">

    <!-- CHAT MESSAGE ELEMENT TEMPLATES  -->
    <template id="info-msg-tmp">
        <div class="bg-gray-600 rounded px-3 py-1 text-white self-center mt-4">
            <p class="text-center text-light" style="font-size: 10px;">
                <span class="msg-time"></span>: <span class="msg-text"></span>
            </p>
        </div>
    </template>

    <template id="self-msg-tmp">
        <div class="bg-gray-500 rounded px-3 pt-2 pb-1 text-white self-end text-sm mt-4" style="max-width: 60%;">
            <p class="msg-text text-sm"></p>
            <p class="msg-time text-gray-200 text-right mt-0.25" style="font-size: 10px;"></p>
        </div>
    </template>

    <template id="other-msg-tmp">
        <div class="flex mt-4" style="max-width: 60%;">
            <div class="msg-logo rounded-full flex items-center justify-center text-xl h-8 w-8" style="background-color: bisque;"></div>
            <div class="ml-2">
                <p class="msg-author text-xs font-medium self-start text-white ml-1">{{msg.user.account.name}}</p>
                <div class="bg-gray-800 rounded px-3 pt-2 pb-1 text-white self-start text-sm mt-1">
                    <p class="msg-text text-sm">{{msg.text}}</p>
                    <p class="msg-time text-gray-300 text-right mt-0.25" style="font-size: 10px;">{{ msg.time|date:'d/M/Y, f A'}}</p>
                </div>
            </div>
        </div>
    </template>

    <input type="text" id="team-id" readonly hidden value="{{team.id}}">
{% endblock %}


{%block scripts%}
    <script src="/static/scripts/team-chat.js"></script>
{%endblock%}